

.wrapper { 
   
    display: flex;
    max-height: 100vh;
    max-width:100vw;
    justify-content: center;
    align-items: center;
   /*  visibility: hidden;*/
    position: relative;
    margin-bottom: 70px;
    
    
    

}

.accordian {

    /*width: 49.6%;*/
    width: 50%;
  
    
   
   
}

.item{
    background: #68CAB2;
    margin-bottom: 5px;
    padding: 10px 20px;
    
    
  
   
   
   
  
}

.title {
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    font-weight: 900;
    
   
 
    

}

.content {
    font-size: 20px;
    color:#050505;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0,1,0,1); 
}

.content.show {
    font-size: 20px;
    height: auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(1,0,1,0);
    
}

