


.hero {
    
 position: relative;
    display: flex;
   
    align-content: center;
    align-items: center;
    margin-top: 0;
    margin-top: 90px;
   /* margin-right: 20px;
    margin-left: 20px;;*/
    object-fit: cover;
    margin-bottom: 100px;;
    font-family: 'Montserrat', sans-serif;
    
 
  

   
    
   
}
    



   



.hero__title {

   color: white;
    font-size: 4rem;;
    padding: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    justify-content: center;
   margin-top: 275px;
    align-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
  
 
  

    
    


}


.infotext {
    opacity: 0;
    position: relative;

  
    margin-left:27%;
    margin-right: 20px;
    line-height: 45px;
    font-family: 'Montserrat', sans-serif;
   
   
   
   
    font-size: 1.2rem;
   
  
   
    
  
    color:white;
}
.infotexttwo {
    opacity: 0;
    position: relative;
    font-family: 'Montserrat', sans-serif;
   

 
 
 
   
  margin-left:40px;
    margin-right: 20px;
    line-height: 25px;
    
    font-size: 1.1rem;
  
    color:white;
}


.hero__titletwo{
    margin-top: 275px;
    color: white;
     font-size: 4rem;;
     padding: 15px;
     position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
   font-weight: 900;
  
}

.con1{
    display:flex;
    
    flex-direction: column;
    background-image:  url(../Images/learning-01.jpg);
    width: 50%;
    height: 90vh;
    font-family: 'Montserrat', sans-serif;
   
    background-size: cover;
    margin-right: 0px;
   
   /* box-shadow: 0px 0px 3px 0px;*/
   
}

.con2{
    display: flex;;
    flex-direction: column;
    background-image:  url(../Images/learning-04.jpg);
    width: 50%;
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 0px;
    font-family: 'Montserrat', sans-serif;
  
    /*box-shadow: 0px 0px 3px 0px;*/
}

 
.con1:hover .hero__title {
        
    /*display: none;*/
    transition: ease 0.5s;

}
  
 /* .con1:hover .infotext {
        
    opacity: 1;
    transition: ease 0.6s;
    
  }*/

  .con1:hover{
      position: relative;
      opacity: 1;
      transition: ease-in 0.5s;
     background-color: none;;
  
     
      z-index: 1;
      
    
     



  }
        
      

      
  

.con2:hover{
    transition: ease-in 0.5s;
    background-image: none;
    background-color: #68CAB2;
  
 
 
  z-index: 1;
}

/*.con2:hover .infotexttwo {
        
    opacity: 1;
    transition: ease-in 0.5s;
}

/*.con1::before{

 
        content:"";
        position: absolute;
        top: 0px;
        right: 50%;
        bottom: 0px;
        left: 0px;
        background-color: rgba(18, 128, 122, 0.25);
       
       
       
       
        
    }

    /*.con1::before{

 
        content:"";
        position: absolute;
        top: 0px;
        right: 50%;
        bottom: 0px;
        left: 0px;
        background-color: rgba(18, 128, 122, 0.25);*/
       
       
       
       
        
    
   .hero::before{
    content:"";
    position: absolute;
    top: 0px;
    right: 50%;
    bottom: 0px;
    left: 0%;
    background-color: rgb(104, 202, 178, 0.25);

    }

   

        
      
       
  
  
  
    